$background_general: linear-gradient(85deg, #f5faff 32%, #dcecff 86%);
$shadow_sign: 17px 1px 63px -5px rgba(89, 145, 207, 3800%);
$shadow_input: 9px 7px 41px 0 rgba(80, 123, 171, 2400%);
$background_input: #e1ebf7;
$background_sidebar: #0c1a3d;
$border_input: linear-gradient(266deg, #d2e3f6 97%, #fff 0%);
$font_blue: #042152;
$font_tracker: #1a1c1d;
$font_neo: #0864ff;
$button_blue: #0864ff;
$error: #f00;
$white: #fff;
$input_neocoast: #0f6edb;
