@import "Constants/colors.scss";
@import "Constants/fonts.scss";

body {
  height: 100vh;
}

#mount {
  height: 100%;
}

.reports {
  display: flex;
  height: 100%;
  width: 100%;

  &__content {
    align-items: center;
    display: flex;
    font-family: $Roboto;
    font-size: 30px;
    justify-content: center;
    width: 90%;
  }
}
