@import "Constants/colors.scss";
@import "Constants/fonts.scss";

.sidebar {
  position: fixed;
  align-items: center;
  background-color: $background_sidebar;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 170px;

    &__clock {
      margin: 20% 0;
    }

    &__button {
      align-items: center;
      background-color: $background_sidebar;
      border: none;
      border-radius: 23px;
      color: $white;
      cursor: pointer;
      display: flex;
      font-family: $Roboto;
      font-size: 18px;
      justify-content: center;
      letter-spacing: 1px;
      margin-left: 40px;
      margin-right: 20px;
      margin-top: 20px;
      padding: 10px 0;
      width: 80%;
    }

    &__logOut{
      align-items: center;
      color: $white;
      cursor: pointer;
      display: flex;
      font-family: $Roboto;
      font-size: 18px;
      justify-content: space-between;
      position: relative;
      top: 65%;
      width: 55%;
    }

    .active{
      animation-duration: 2s;
      animation-name: active;
      background-color: $button_blue;
      margin-left: 60%;
      opacity: 100%;
      width: 100%;
    }

    .inactive{
      animation-duration: 0.8s;
      animation-name: inactive;
    }
  }
  @keyframes active {
    from {
      background-color: $background_sidebar;
      margin-left: 25%;
      width: 80%;
    }

    to {
      background-color: $button_blue;
      margin-left: 60%;
      width: 100%;
    }
  }

  @keyframes inactive {
    from {
      background-color: $button_blue;
      margin-left: 60%;
      width: 100%;
    }

    to {
      background-color: $background_sidebar;
      margin-left: 25%;
      width: 80%;
    }
  }
