@import "Constants/colors.scss";
@import "Constants/fonts.scss";

body {
  height: 100vh;
}

#mount {
  height: 100%;
}

@media (min-width: 900px) {

  .timer {
    display: flex;
    height: 100%;
    width: 100%;

    &__container {
      display: flex;
      justify-content: center;
      width: 100%;

      &-history {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        color: $font_grey;
        font-family: $Roboto;
        letter-spacing: 2.05px;
        font-size: 12px;
        margin-top: 30px;
      }

      &-rectangle {
        min-height: 150px;
        width: 100%;
        border-radius: 15px;
        box-shadow: $shadow_sign;
      }

      &-content {
        align-items: center;
        display: flex;
        flex-direction: column;
        font-family: $Roboto;
        flex-direction: column;
        width: 100%;
        margin-right: 20%;
        margin-left: 30%;
        margin-top: 50px;
        overflow-y: visible;
      }
    }
  }
}

@media (max-width: 900px) {

  .timer {
    display: flex;
    height: 100%;
    width: 100%;

    &__container {
      display: flex;
      justify-content: center;
      width: 100%;

      &-history {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        color: $font_grey;
        font-family: $Roboto;
        letter-spacing: 2.05px;
        font-size: 12px;
        margin-top: 30px;
      }

      &-rectangle {
        min-height: 150px;
        width: 100%;
        border-radius: 15px;
        box-shadow: $shadow_sign;
      }

      &-content {
        align-items: center;
        display: flex;
        flex-direction: column;
        font-family: $Roboto;
        flex-direction: column;
        width: 100%;
        margin-right: 5%;
        margin-left: 5%;
        margin-top: 50px;
        overflow-y: visible;
      }
    }
  }
}
