@import "Constants/colors.scss";
@import "Constants/fonts.scss";

body {
  height: 100vh;
}

#mount {
  height: 100%;
}

.timer {
  display: flex;
  height: 100%;
  width: 100%;

  &__container {
    display: flex;
    justify-content: center;
    width: 100%;


  &-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: $Roboto;
    justify-content: center;
    width: 100%;
    margin: 0 20%;
    }
  }
}
